.website {
    align-self: flex-end;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    
}

@media screen and (max-width:768px) {
    .website {
        margin: 0 1em 0;
    }

}