.website__url-heading {
    display: inline;
    margin: 0 0 12px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-decoration: none;
    color: #AAAAAA;
    letter-spacing: 2px;
}