.cover__background {
    background-image: url(../../../images/__background.png);
    background-size: cover;
    min-height: 740px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    position: relative;
    isolation: isolate;
    background-position: center;
}

@media screen and (max-width:1280px) {
    .cover__background {
        width: 100%;
        min-height: 640px;
    }

}

@media screen and (max-width:768px) {
    .cover__background {
        min-height: 480px;
        max-height: 46vh;

    }

}

@media screen and (max-width:768px) {
    .cover__background {
        max-height: 46vh;
    }

}
@media screen and (max-width:480px) {
    .cover__background {
        max-height: 20vh;
    }

}

@media screen and (max-width: 320px) {
    .cover__background{
        min-height: 200px;
    }
    
}

.cover__background::after {
    content: '';
    position: absolute;
    background: #2A2C2F;
    opacity: 0.3;
    inset: 0;
    z-index: -1;
    transition: 0.5s ease-in;
}

.cover__background:hover::after {
    opacity: 0.8;
}