.website__link {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
    min-height: 22px;
}

.website__link:hover {
    opacity: 0.3;
    transition: 0.2s ease-in;
}