.footer {
    width: calc(100% - 2*48px);
    max-width: 1184px;
    margin: 0 auto 24px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



@media screen and (max-width:1280px) {
    .footer {
        width: calc(100% - 2*24px);
    }
}

@media screen and (max-width:1024px) {
    .footer {
        width: calc(100% - 2*24px);
    }
}

@media screen and (max-width:768px) {
    .footer {
        flex-direction: column;
        margin-top: 64px;
    }

}